# exclude file extensions
*.webprj
*.session
*.bak
*~
*.tmp
*.lst
*.log
*.backup
*.blg
*.brf
*.out
*.eml
*0.sas
# special files
tags
Distfile
.texlipse
.project
# exclude directories
Test/
Old/
.svn/
.notes/
notes/
fig/*.pdf
fig/*.png
SAS/*.ps
SAS/*.eps

